.konark{
         position:fixed;
         top:0px;
         left:0px;
       }
.ellora{
        position:fixed;
        bottom:0px;
        right:0px;
        }
.hampi{
       position:fixed;
       bottom:0px;
       left:0px;
      }
.ajanta{
        position:fixed;
        top:0px;
        right:0px;
       }
.taj{
     position:absolute;
     top:35%;
     bottom:35%;
     right:40%;
     left:40%;
     }
